@import '@/assets/css/table.css';
@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: Exo-2;
      src: url('@/assets/fonts/Exo-2.ttf');
  }

  @font-face {
    font-family: CrimsonPro;
    src: url('@/assets/fonts/CrimsonPro.ttf');
  }

  * {
    @apply font-[Exo-2];
  }

  h1,h2,h3,h4,h5,h6{
      @apply font-[CrimsonPro] font-medium;
  }

  h1 {
      @apply text-2xl md:text-3xl;
  }

  h2 {
      @apply text-xl md:text-2xl;
  }

  h3 {
      @apply text-lg md:text-xl;
  }

  h4 {
      @apply text-base md:text-lg;
  }

  h5 {
      @apply text-sm md:text-base;
  }

  h6 {
      @apply text-xs md:text-sm;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-theme-100; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-theme-600 rounded-md; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-theme-300; 
  }
}
