@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: Exo-2;
      src: url('@/assets/fonts/Exo-2.ttf');
  }

  * {
    @apply font-[Exo-2] text-xs sm:text-sm md:text-base;
  }

  h1,h2,h3,h4,h5,h6{
      @apply font-semibold;
  }

  h1 {
      @apply text-xl sm:text-2xl md:text-3xl;
  }

  h2 {
      @apply text-lg sm:text-xl md:text-2xl;
  }

  h3 {
      @apply text-base sm:text-lg md:text-xl;
  }

  h4 {
      @apply text-sm sm:text-base md:text-lg;
  }

  h5 {
      @apply text-xs sm:text-sm md:text-base;
  }

  h6 {
      @apply text-[10px] sm:text-xs md:text-sm;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-theme-100; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-theme-600 rounded-md; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-theme-300; 
  }
}
