@tailwind base;

@layer base {
  table {
    @apply w-full bg-theme-300 text-theme-100 md:text-theme-900;
  }

  thead {
    @apply hidden md:table-header-group bg-theme-900 text-theme-100;
  }

  tr {
    @apply max-w-full block relative border-b-4 border-theme-100
      md:table-row md:border-b-0;
  }

  tr:last-child {
    @apply border-b-0;
  }

  td:not(:first-child) {
    @apply md:border-l md:border-t-0 md:border-r-0 md:border-b-0 md:border-theme-100;
  }

  th {
    @apply md:text-left md:p-3;
  }

  td {
    @apply flex flex-col xs:flex-row justify-center xs:justify-between items-center text-right py-3 px-4 align-top border-b border-theme-100
      md:table-cell md:text-left md:p-3 md:align-middle md:border-b-0;
  }

  td:last-child {
    @apply border-b-0;
  }

  tbody tr, tbody tr:nth-child(odd) {
    @apply md:hover:bg-theme-600/50 md:hover:text-theme-100;
  }

  tbody tr:nth-child(odd) {
    @apply md:bg-theme-100/50;
  }

  td:before {
    content: attr(data-label);
    @apply font-semibold pr-3 text-left md:hidden text-theme-900;
  }

  td.center {
    @apply flex justify-center items-center space-x-2;
  }
}
